<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%t %-5p %c{2} - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="org.apache.commons.configuration.ConfigurationUtils" level="ERROR"/>
  <root level="error">
    <appender-ref ref="stdout"/>
  </root>
</configuration>
